:root {
    --page-margin: 0 168px;
    --border-radius: 23px;
    --darker-blue: #00A9F1;
    --lighter-blue: #E2F6F8;
    --page-bg: #FFFAFA;
}

/* titles */
h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 34px;
    font-family: 'Leckerli One', cursive;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

h1, h2 {
    text-align: center;
}

/* styles the intro texts, if existent */

main > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin: var(--page-margin);
}

main > div p {
    grid-column: 2 / span 10;
}

section:first-of-type {
    margin-top: 50px !important; 
}

section {
    margin-bottom: 150px !important; 
    position: relative;
}

/* common stylings for both section types */

.picright, .picleft {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin: var(--page-margin);
}

.picright div, .picleft div {
    grid-auto-rows: min-content;
    background: var(--lighter-blue);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: subgrid;
    padding: 20px 0;
    min-height: 470px;
    position: relative;
}

.picright h2, .picleft h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.picright p, .picleft p {
    margin-bottom: 2rem;
}

.picright img, .picleft img {
    height: 350px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius);
    object-fit: cover;
    position: absolute;
    border: 4px solid var(--page-bg);
}

/* side specific stylings - right */

.picright div {
    grid-column: 3 / span 9;
}

.picright h2 {
    grid-column: 3 / span 6;
}

.picright p {
    grid-column: 4 / span 5;
}

.picright img {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* side specific stylings - left */

.picleft div {
    grid-column: 2 / span 9;
}

.picleft h2 {
    grid-column: 2 / span 6;
}

.picleft p {
    grid-column: 2 / span 5;
}

.picleft img {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

/* stylings for the "lista completa" lists */

main > ul {
    display: flex;
    margin: var(--page-margin);
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom:150px;
}

main > .single-col {
    justify-content: center;
}
main > .single-col div {
    max-width: 45%;
}